*
!external
!external/**
!pictures
!pictures/**
!schematic
!schematic/amplifeuer-schematic-cache.lib
!schematic/amplifeuer-schematic.kicad_pcb
!schematic/amplifeuer-schematic.net
!schematic/amplifeuer-schematic.pro
!schematic/amplifeuer-schematic.sch
!.git*
!*.yml
!*Makefile
!*.sublime-project
!LICENSE
!gh_rsa.enc
!README.md
