*
!external
!external/**
!pictures
!pictures/**
!schematic
!schematic/*-cache.lib
!schematic/*.kicad_pcb
!schematic/*.net
!schematic/*.pro
!schematic/*.sch
!.git*
!*.yml
!*Makefile
!*.sublime-project
!LICENSE
!gh_rsa.enc
!README.md
